In [23]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler

In [89]:
data = pd.read_csv("new_train_cat.csv")
train = data.drop(['trip_duration', 'log_trip_duration'], axis=1)
train.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,pickup_day,pickup_second,maximum temerature,minimum temperature,average temperature,precipitation,...,fwd_Y.1,passengers_0,passengers_1,passengers_2,passengers_3,passengers_4,passengers_5,passengers_6,vendor_1,vendor_2
0,-73.982155,40.767937,-73.964630,40.765602,14,6369878.0,51,40,45.5,0.29,...,0,0,1,0,0,0,0,0,0,1
1,-73.975090,40.758766,-73.953201,40.765068,14,6357922.0,51,40,45.5,0.29,...,0,0,1,0,0,0,0,0,1,0
2,-73.994484,40.745087,-73.998993,40.722710,14,6361461.0,51,40,45.5,0.29,...,0,0,1,0,0,0,0,0,1,0
3,-73.944359,40.714489,-73.910530,40.709492,14,6323059.0,51,40,45.5,0.29,...,0,0,0,0,1,0,0,0,0,1
4,-73.952881,40.766468,-73.978630,40.761921,14,6361059.0,51,40,45.5,0.29,...,0,0,1,0,0,0,0,0,0,1

In [90]:
scaler = MinMaxScaler().fit(train) #Scaling data to 0-1 range
train_scaled = pd.DataFrame(scaler.transform(train))
train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0.171142,0.626988,0.233460,0.616376,0.433333,0.405086,0.467532,0.539474,0.506579,0.125541,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.196438,0.585303,0.274278,0.613948,0.433333,0.404325,0.467532,0.539474,0.506579,0.125541,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.126998,0.523123,0.110736,0.421408,0.433333,0.404551,0.467532,0.539474,0.506579,0.125541,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.306471,0.384041,0.426676,0.361325,0.433333,0.402108,0.467532,0.539474,0.506579,0.125541,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.275958,0.620312,0.183460,0.599643,0.433333,0.404525,0.467532,0.539474,0.506579,0.125541,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
def rmsle(real, predicted): # Caluculating rmsle score
    sum=0.0
    for x in range(len(predicted)):
        p = np.log(predicted[x]+1)
        r = np.log(real[x]+1)
        sum = sum + (p - r)**2
    return (sum/len(predicted))**0.5

In [131]:
#splitting data
X_train, X_valid, y_train, y_valid = train_test_split(train_scaled, data['log_trip_duration'], test_size=0.2, random_state=43)

In [132]:
#specifying network architecture
model = Sequential()
model.add(Dense(32, input_dim=65, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation ='relu'))
# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')

In [136]:
#training network
model.fit(X_train.values, y_train.values, batch_size=500, epochs=50, validation_data=(X_valid.values, y_valid.values), verbose=2)

Train on 1149734 samples, validate on 287434 samples
Epoch 1/50
20s - loss: 0.1763 - val_loss: 0.1741
Epoch 2/50
19s - loss: 0.1746 - val_loss: 0.1725
Epoch 3/50
19s - loss: 0.1741 - val_loss: 0.1731
Epoch 4/50
19s - loss: 0.1736 - val_loss: 0.1740
Epoch 5/50
19s - loss: 0.1730 - val_loss: 0.1722
Epoch 6/50
17s - loss: 0.1725 - val_loss: 0.1716
Epoch 7/50
18s - loss: 0.1721 - val_loss: 0.1715
Epoch 8/50
18s - loss: 0.1716 - val_loss: 0.1708
Epoch 9/50
18s - loss: 0.1714 - val_loss: 0.1704
Epoch 10/50
18s - loss: 0.1703 - val_loss: 0.1678
Epoch 11/50
18s - loss: 0.1677 - val_loss: 0.1662
Epoch 12/50
18s - loss: 0.1671 - val_loss: 0.1651
Epoch 13/50
18s - loss: 0.1668 - val_loss: 0.1662
Epoch 14/50
20s - loss: 0.1661 - val_loss: 0.1671
Epoch 15/50
20s - loss: 0.1661 - val_loss: 0.1649
Epoch 16/50
19s - loss: 0.1657 - val_loss: 0.1678
Epoch 17/50
18s - loss: 0.1651 - val_loss: 0.1655
Epoch 18/50
19s - loss: 0.1648 - val_loss: 0.1645
Epoch 19/50
19s - loss: 0.1646 - val_loss: 0.1637
Epoch 20/50
19s - loss: 0.1642 - val_loss: 0.1724
Epoch 21/50
19s - loss: 0.1638 - val_loss: 0.1621
Epoch 22/50
19s - loss: 0.1632 - val_loss: 0.1649
Epoch 23/50
19s - loss: 0.1628 - val_loss: 0.1613
Epoch 24/50
19s - loss: 0.1599 - val_loss: 0.1584
Epoch 25/50
18s - loss: 0.1578 - val_loss: 0.1573
Epoch 26/50
19s - loss: 0.1564 - val_loss: 0.1560
Epoch 27/50
19s - loss: 0.1552 - val_loss: 0.1555
Epoch 28/50
19s - loss: 0.1544 - val_loss: 0.1534
Epoch 29/50
19s - loss: 0.1536 - val_loss: 0.1540
Epoch 30/50
19s - loss: 0.1529 - val_loss: 0.1515
Epoch 31/50
19s - loss: 0.1524 - val_loss: 0.1525
Epoch 32/50
18s - loss: 0.1521 - val_loss: 0.1527
Epoch 33/50
18s - loss: 0.1517 - val_loss: 0.1508
Epoch 34/50
19s - loss: 0.1513 - val_loss: 0.1497
Epoch 35/50
19s - loss: 0.1509 - val_loss: 0.1508
Epoch 36/50
19s - loss: 0.1507 - val_loss: 0.1502
Epoch 37/50
20s - loss: 0.1504 - val_loss: 0.1516
Epoch 38/50
19s - loss: 0.1500 - val_loss: 0.1510
Epoch 39/50
19s - loss: 0.1498 - val_loss: 0.1499
Epoch 40/50
19s - loss: 0.1497 - val_loss: 0.1496
Epoch 41/50
19s - loss: 0.1493 - val_loss: 0.1495
Epoch 42/50
19s - loss: 0.1490 - val_loss: 0.1500
Epoch 43/50
19s - loss: 0.1488 - val_loss: 0.1489
Epoch 44/50
18s - loss: 0.1487 - val_loss: 0.1502
Epoch 45/50
17s - loss: 0.1486 - val_loss: 0.1537
Epoch 46/50
18s - loss: 0.1483 - val_loss: 0.1475
Epoch 47/50
17s - loss: 0.1481 - val_loss: 0.1487
Epoch 48/50
17s - loss: 0.1475 - val_loss: 0.1509
Epoch 49/50
19s - loss: 0.1475 - val_loss: 0.1494
Epoch 50/50
19s - loss: 0.1473 - val_loss: 0.1485

In [137]:
pred = np.abs(model.predict(X_valid.values, verbose=1)) #predicting on validation data

287072/287434 [============================>.] - ETA: 0s

In [138]:
print("RMSLE = ",rmsle(np.exp(y_valid.values), np.exp(pred))) #displaying cv scores
print("RMSE = ",np.sqrt(mean_squared_error(np.exp(y_valid),np.exp(pred))))
print("r2_score =",r2_score(np.exp(y_valid), np.exp(pred)))

[ 0.38206802]
327.227441537
0.746179813795

In [164]:
testd  = pd.read_csv("new_test_cat.csv") 
ids = pd.DataFrame(testd['id'])
test = testd.drop(['id'], axis=1)
test.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,pickup_day,pickup_second,maximum temerature,minimum temperature,average temperature,precipitation,...,fwd_Y.1,passengers_0,passengers_1,passengers_2,passengers_3,passengers_4,passengers_5,passengers_6,vendor_1,vendor_2
0,-73.988129,40.732029,-73.990173,40.756680,30,15724781.0,85,67,76.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,-73.964203,40.679993,-73.959808,40.655403,30,15724776.0,85,67,76.0,0.0,...,0,0,1,0,0,0,0,0,1,0
2,-73.997437,40.737583,-73.986160,40.729523,30,15724770.0,85,67,76.0,0.0,...,0,0,1,0,0,0,0,0,1,0
3,-73.956070,40.771900,-73.986427,40.730469,30,15724764.0,85,67,76.0,0.0,...,0,0,1,0,0,0,0,0,0,1
4,-73.970215,40.761475,-73.961510,40.755890,30,15724756.0,85,67,76.0,0.0,...,0,0,1,0,0,0,0,0,1,0

In [143]:
test_scaled = pd.DataFrame(scaler.transform(test)) #scaling kaggle test data
test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0.149753,0.463769,0.142234,0.575818,0.966667,1.000001,0.909091,0.894737,0.907895,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.235419,0.227237,0.250681,0.115465,0.966667,1.000001,0.909091,0.894737,0.907895,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.116426,0.489015,0.156567,0.452376,0.966667,1.000001,0.909091,0.894737,0.907895,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.264540,0.645004,0.155613,0.456677,0.966667,1.000000,0.909091,0.894737,0.907895,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.213894,0.597614,0.244605,0.572229,0.966667,1.000000,0.909091,0.894737,0.907895,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [174]:
predt = np.abs(model.predict(test_scaled.values, verbose=1))

624928/625134 [============================>.] - ETA: 0s

In [175]:
sub = pd.DataFrame(np.exp(predt), columns=['trip_duration'])

In [176]:
submission = pd.concat([ids, sub], axis =1)

In [178]:
submission.to_csv('nnfinal.csv', index=False) #writing kaggle test data predictions to disk